
  <div class="container-center">
  <button routerLink="/students" style="background-color:brown; color: beige; align-items: center" type="button" class="btn  btn-lg " (click)="this.show = false">Add Student</button><br><br>
  
  <button routerLink="/pairing" style="background-color:brown; color: beige; align-items: center" type="button" class="btn  btn-lg ">Pairing</button><br><br>
  <button routerLink="/history" style="background-color:brown; color: beige; align-items: center" type="button" class="btn  btn-lg ">History</button><br>

  </div>
  

